<!DOCTYPE html>
<html>
<head>
    <title>Interactive Content</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="../latex4ei.css">
<script type="text/javascript" src="../latex4ei.js"></script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}});
</script>


	 <script type="text/javascript">


	 </script>


	$\newcommand{\ma}[1]{\boldsymbol #1}$
	$\newcommand{\ir}{\rm}$
	$\newcommand{\i}{\mathrm{i}}$
	$\DeclareMathOperator{\Sp}{Sp}$
	$\DeclareMathOperator{\diff}{d}$

</head>
<body>
	<main class="container">

		<h1>Transistor</h1>
		There are mainly two types. BJT are current amplifiers and used for analog electronics. MOSFETs are voltage amplifiers and are used for digital circuits. 
		The arrow in each transistor symbol represents the P-N junction and is drawn like diode symbol: from P to N.


		<h2>Bipolar Transistor (BJT)</h2>

		<figure>
			<img src="bjt.png" alt="PNP: E->B--C \n NPN: C--B->E\n"/>
		</figure>

			<h3>Cut-Off</h3>
			$$V_{\ir BE} < 0.7V$$

			<h3>Linear Region</h3>
			$$V_{\ir BE} \approx 0.7V$$

		<h2 title="Metal Oxide Semiconductor Field Effect Transistor">MOS-FETs</h2>

	</main>
</body>
</html>
