
<!-- <p><a href="./res/sheets/(.*?)"[^>]+>(.*?)</a>(?: ?<a href="(.*?)")? -->
<!-- {% include sheet.html filename="\1" description="\2" ghlink="\3" %} -->
<table>
    <thead>
    <tr>
        <th><span>Category</span></th>
        <th><span>Sheet</span><span class="pull-right">Revision</span></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <span>Allgemein</span>
        </td>
        <td>
    {% include sheet.html filename="Ingenieursgrundlagen.pdf" description="Important Engineering Equations" %}
        </td>
    </tr>
    <tr>
        <td><span>1. Semester</span></td>
        <td>
    {% include sheet.html filename="Analysis-1.pdf" description="Analysis 1" ghlink="Analysis-1" %}

            {% include sheet.html filename="Analysis_1_ma.pdf" description="Analysis 1 für Mathematiker"  %}
            {% include sheet.html filename="FSDigitaltechnik.pdf" description="Digitaltechnik Formelsammlung" ghlink="Digitaltechnik" %}
            {% include sheet.html filename="HM1_MaschBau.pdf" description="Höhere Mathematik 1 Formelsammlung für Maschinenbauer"  %}
            {% include sheet.html filename="Lineare-Algebra.pdf" description="Lineare Algebra Formelsammlung" ghlink="Lineare-Algebra" %}
            {% include sheet.html filename="Schaltungstechnik.pdf" description="Schaltungstechnik (Mitarbeiter gesucht!) *" ghlink="Schaltungstechnik-1-2" %}
        </td>
    </tr>
    <tr>
        <td>
            <span>2. Semester</span>
        </td>
        <td>
            {% include sheet.html filename="ADS.pdf" description="ADS Zusammenfassung (WS 2012/13)" %}
            {% include sheet.html filename="Analysis-2.pdf" description="Analysis 2 Formelsammlung" ghlink="Analysis-2" %}
            {% include sheet.html filename="EundM.pdf" description="EuM Zusammenfassung" ghlink="Elektrizitaet-und-Magnetismus" %}
            {% include sheet.html filename="Mathe2FS_MaschBau.pdf" description="Höhere Mathematik 2 Formelsammlung für Maschinenbauer" %}
            {% include sheet.html filename="PHY_2011.pdf" description="Physik Zusammenfassung (unvollständig)" %}
            {% include sheet.html filename="Schaltungstechnik.pdf" description="Schaltungstechnik 2 (Mitarbeiter gesucht!) *" ghlink="Schaltungstechnik-1-2" %}
            {% include sheet.html filename="ST2FS.pdf" description="Schaltungstechnik 2 Zusatzblatt" %}
        </td>
    </tr>
    <tr>
        <td>
            <span>3. Semester</span>
        </td>
        <td>
            {% include sheet.html filename="Analysis-3.pdf" description="Analysis 3 Formelsammlung" ghlink="Analysis-3" %}
            {% include sheet.html filename="EMF.pdf" description="EMF Zusammenfassung" ghlink="Elektromagnetische-Feldtheorie" %}
            {% include sheet.html filename="EMF-Formel-Zusammenfassung.pdf" description="EMF Formeln (aus der Zentralübung)" %}
            {% include sheet.html filename="StochastischeSignale.pdf" description="Stochastische Signale" ghlink="Stochastische-Signale" %}
            {% include sheet.html filename="StochastischeSignalePraktikum.pdf" description="Stochastische Signale Matlab-Praktikum" ghlink="Stochastische-Signale-Praktikum" %}
            {% include sheet.html filename="Signaldarstellung.pdf" description="Signaldarstellung" ghlink="Signaldarstellung" %}
            {% include sheet.html filename="Werkstoffe.pdf" description="Werkstoffe Formelsammlung" ghlink="Werkstoffe" %}
            {% include sheet.html filename="Werkstoffe_Fragen.pdf" description="Werkstoffe Verständnisfragen" %}
        </td>
    </tr>
    <tr>
        <td>
            <span>4. Semester</span>
        </td>
        <td>
            {% include sheet.html filename="Matlab.pdf" description="MATLAB" ghlink="Matlab" %}
            {% include sheet.html filename="Nachrichtentechnik.pdf" description="Nachrichtentechnik" ghlink="Nachrichtentechnik" %}
            {% include sheet.html filename="Regelungssysteme.pdf" description="Regelungssysteme 1" ghlink="Regelungssysteme-1" %}
            {% include sheet.html filename="Energietechnik.pdf" description="Energie-/Hochspannungstechnik" ghlink="Energietechnik" %}
        </td>
    </tr>
    <tr>
        <td>
            <span>Wahlfächer</span>
        </td>
        <td>
            {% include sheet.html filename="BWL.pdf" description="Betriebswirtschaftslehre 1 (FIQ Fach)" %}
            {% include sheet.html filename="FS-EKM.pdf" description="Elektrische Kleinmaschinen" ghlink="https://github.com/MaKeAppDev/FS-EKM" %}
            {% include sheet.html filename="EMV.pdf" description="Elektromagnetische Verträglichkeit" ghlink="Elektromagnetische-Vertraeglichkeit" %}
            <!--{% include sheet.html filename="Kommunikationsnetze.pdf" description="Kommunikationsnetze*"  %}-->
            {% include sheet.html filename="geuet_fs.pdf" description="Grundlagen der Energieübertragungstechnik" ghlink="Grundlagen-der-Energie-betragungstechnik" %}
            {% include sheet.html filename="FS-GEM.pdf" description="Grundlagen elektrischer Maschinen" ghlink="https://github.com/MaKeAppDev/FS-GEM" %}
            {% include sheet.html filename="GIR.pdf" description="Einführung in die Roboterregelung (unvollständig)"  %}
            {% include sheet.html filename="Kryptologie.pdf" description="Kryptologie Formelsammlung" ghlink="Kryptologie" %}
            {% include sheet.html filename="mmk1.pdf" description="Mensch-Maschine-Kommunikation 1" ghlink="Mensch-Maschine-Kommunikation-1" %}
            {% include sheet.html filename="mmk2.pdf" description="Mensch-Maschine-Kommunikation 2" ghlink="Mensch-Maschine-Kommunikation-2" %}
            {% include sheet.html filename="nanoFS.pdf" description="Nanoelectronics (unvollständig)" ghlink="nanoelectronics" %}
            {% include sheet.html filename="Internetkommunikation.pdf" description="Internetkommunikation" ghlink="Internetkommunikation" %}
            {% include sheet.html filename="Leistungselektronik.pdf" description="Leistungselektronik" ghlink="Leistungselektronik" %}

        </td>
    </tr>
    <tr>
        <td>
            <span>Master</span>
        </td>
        <td>
            {% include sheet.html filename="FS-EM.pdf" description="Elektrische Maschinen" ghlink="https://github.com/MaKeAppDev/FS-EM" %}
            {% include sheet.html filename="FS-EEM.pdf" description="Entwurf Elektrischer Maschinen" ghlink="https://github.com/MaKeAppDev/FS-EEM" %}
            {% include sheet.html filename="Logik.pdf" description="Logik (außerfachlich)" %}
            {% include sheet.html filename="Akustik.pdf" description="Musikalische Akustik" ghlink="Akustik" %}
            {% include sheet.html filename="NeuralEngineering.pdf" description="Neural Engineering" %}

            {% include sheet.html filename="Numerik.pdf" description="Numerische Methoden der Elektrotechnik" ghlink="https://github.com/MaKeAppDev/FS-NMdE" %}

            <p><a href="https://github.com/MaKeAppDev/Skript-NMdE" target="_blank"> <i class="fa fa-github"></i> </a><a href="https://lootsch.cetus.uberspace.de/latex/Skript-NMdE.pdf" class="file" target="_blank"> Numerische Methoden der Elektrotechnik Skript</a></p>

            {% include sheet.html filename="VHDL.pdf" description="VHDL" %}
            {% include sheet.html filename="Batteriespeicher.pdf" description="Batteriespeicher" %}
            {% include sheet.html filename="LowPower.pdf" description="Low Power Design" %}
            {% include sheet.html filename="FS-RTPL.pdf" description="Real Time Programming Languages" ghlink="https://github.com/MaKeAppDev/FS-RTPL" %}
            {% include sheet.html filename="System-On-Chip.pdf" description="System-on-Chip Technologies" %}
            {% include sheet.html filename="Mobile-Test.pdf" description="System-on-Chip Mobile Version" %}
            {% include sheet.html filename="StaSigProc.pdf" description="Statistical Signal Processing" ghlink="Statistical-Signal-Processing" %}
            {% include sheet.html filename="ModelEmbeddedSystems.pdf" description="Modeling and Verification of Embedded Systems" %}
            {% include sheet.html filename="DynSysFS.pdf" description="Dynamische Systeme" ghlink="Dynamische-Systeme" %}

        </td>
    </tr>
    <tr>
        <td>
            <span>LaTeX</span>
        </td>
        <td>
            {% include sheet.html filename="latex.tex" description="LaTeX Einführung als .tex Vorlage" %}
            {% include sheet.html filename="LaTeX_CheatSheet.pdf" description="LaTeX Cheat Sheet" ghlink="LaTeX-Cheat-Sheet" %}
            {% include sheet.html filename="latexsymbols.pdf" description="LaTeX Symbol Liste"  %}

            <p><a href="https://github.com/latex4ei/latex4ei-packages" target="_blank"><i class="fa fa-github"></i> </a> <a href="https://github.com/latex4ei/latex4ei-packages/releases/latest"  class="file" target="_blank">LaTeX4EI Template für eigene Dokumente</a> </p>

        </td>
    </tr>
    </tbody>
</table>

<h2>Externe Formelsammlungen</h2>
<p>Weitere, gute Formelsammlungen zu EI an der TUM findet ihr auch auf <a href="http://www.ei-studium.de">www.ei-studium.de</a> oder <a href="https://makeappdev.github.io/TUM-Projekte">MaKeAppDev</a>. Ansonsten haben wir hier noch verstreute Formelsammlungen direkt verlinkt. Aber Achtung: Manche Formelsammlungen sind sehr alt und werden nicht mehr verbessert.</p>
<table border="0" cellspacing="0" cellpadding="10px" >
    <tr>
        <td>
            <span>Informatik</span>
        </td>
        <td>
            <p><a href="./ext_./res/sheets/CRefCard.v2.2.pdf" class="file" target="_blank">C Referenz Card (ANSI)</a></p>
            <p><a href="./ext_./res/sheets/CppRefCard.pdf" class="file" target="_blank">C++ Referenz Card</a></p>
            <p><a href="./ext_./res/sheets/Computertechnik_FS.pdf" class="file" target="_blank">Computertechnik</a></p>
            <p><a href="./ext_./res/sheets/Grundlagen_Informatik_FS.pdf" class="file" target="_blank">Grundlagen der Informatik</a></p>
            <p><a href="./ext_./res/sheets/Stochastische_Signale_FS.pdf" class="file" target="_blank">Stochastische Signale</a></p>
        </td>
    </tr>
    <tr>
        <td>
            <span>Elektrizität</span>
        </td>
        <td>
            <p><a href="./ext_./res/sheets/Elektrizität_Magnetismus_Formeln.pdf" class="file" target="_blank">Elektrizität und Magnetismus</a></p>
            <p><a href="./ext_./res/sheets/Elektrische_Energietechnik_FS.pdf" class="file" target="_blank">Elektrische Energietechnik</a></p>
            <p><a href="./ext_./res/sheets/2009-ET_Verständnisfragen.pdf" class="file" target="_blank">Elektrische Energietechnik Verständnisfragen</a></p>
            <p><a href="./ext_./res/sheets/Stromversorgung_mobiler_Geräte_FS.pdf" class="file" target="_blank">Stromversorgung mobiler Geräte FS</a></p>
        </td>
    </tr>
    <tr>
        <td>
            <span>Schaltungstechnik</span>
        </td>
        <td>
            <p><a href="http://fabis-site.net/uni/st2/blaetter/st1-formelsammlung.pdf" target="_blank">SchaltungstechnikFS 1 (Fabian Steiner)</a></p>
            <p><a href="./ext_./res/sheets/Schaltungstechnik_FS(1+2).pdf" class="file" target="_blank">SchaltungstechnikFS 1 + 2 (Rosnitschek)</a></p>
            <p><a href="./ext_./res/sheets/Digitaltechnik_Formelsammlung.pdf"  class="file" target="_blank">Digitaltechnik FS (16 Seiten)</a></p>
            <p><a href="./ext_./res/sheets/Digitaltechnik_Formelsammlung2.pdf"  class="file" target="_blank">Digitaltechnik FS v2</a></p>
        </td>
    </tr>
    <tr>
        <td>
            <span>Sonstiges</span>
        </td>
        <td>
            <p><a href="./ext_./res/sheets/Werkstoffe_FS_V02.pdf" class="file" target="_blank">Werkstoffe FS</a></p>
            <p><a href="http://www.eiit.de/v2/index.php?&showtopic=21121" class="file" target="_blank">Hochfrequenztechnik FS</a></p>
            <p><a href="./ext_./res/sheets/Regelungssysteme2.pdf" class="file"     target="_blank">Regelungssysteme 2</a></p>
            <p><a href="./ext_./res/sheets/Regelungssysteme2v2.pdf" class="file"     target="_blank">Regelungssysteme 2 Ver. 2</a></p>
            <p><a href="./ext_./res/sheets/HM4.pdf" class="file" target="_blank">Höhere Mathematik 4</a></p>
        </td>
    </tr>
</table>



<h2>Veraltete Formelsammlungen</h2>
<p>Achtung: Diese Formelsammlungen werden nicht mehr verwendet und nicht mehr verbessert!</p>
<table border="0" cellspacing="0" cellpadding="10px" >
    <tr>
        <td>
            <span>Mathe</span>
        </td>
        <td>
            {% include sheet.html filename="MatheFS.pdf" description="Höhere Mathematik 1 Formelsammlung" ghlink="Hoehere-Mathematik" %}
            {% include sheet.html filename="Mathe1SK.pdf" description="Höhere Mathematik für Elektoringenieure 1 - Mitschrift"  %}
            {% include sheet.html filename="Mathe2FS.pdf" description="Höhere Mathematik 2 Formelsammlung " ghlink="Hoehere-Mathematik" %}
            {% include sheet.html filename="Mathe3FS.pdf" description="Höhere Mathematik 3 Formelsammlung" ghlink="Hoehere-Mathematik" %}
            {% include sheet.html filename="Mathe3FS_WS2012.pdf" description="Höhere Mathematik 3 Formelsammlung"  %}(WS 2012/13 - Ulbrich)
            {% include sheet.html filename="Mathe4FS.pdf" description="Höhere Mathematik 4 Formelsammlung" ghlink="Hoehere-Mathematik" %}
            {% include sheet.html filename="Mathe4FS-SoSe14.pdf" description="Höhere Mathematik 4 Formelsammlung (Sommersemester 2014)" %}
            {% include sheet.html filename="vorlesung_math4.pdf" description="Mathematik für Elektoringenieure IV (Prof. Ulbrich) - Mitschrift" ghlink="Hoehere-Mathematik" %}
        </td>
    </tr>
    <tr>
        <td>
            <span>Sonstiges</span>
        </td>
        <td>
            {% include sheet.html filename="FSDigitaltechnik-alte-Version.pdf" description="Digitaltechnik Formelsammlung (bis WS 2012/13)" ghlink="Digitaltechnik" %}
            {% include sheet.html filename="Rauschen.pdf" description="Rauschen (unvollständig)" %}
        </td>
    </tr>
</table>
