<footer>
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <img class="img-fluid" style="width: 4em;" src="{{ "./res/img/Logo.png" | relative_url }}" alt="Logo">
      </div>

      <div class="col-sm-5 col-lg-3">
        <h3>{{ site.title | escape }}</h3>
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{% icon fa-envelope %} {{ site.email }}</a></li>
          <li><a href="http://latex4ei.de">{% icon fa-globe %} latex4ei.de</a></li>
        </ul>
      </div>

      <div class="col-sm-3 col-lg-2">
        <ul class="social-media-list">
          {% for entry in site.data.social %}
          <li>{% include icon-social.html data=entry %}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-lg-5">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>
