<p>
    {% if include.ghlink contains 'http' %}
    {% assign ghfull = include.ghlink %}
    {% else %}
    {% assign ghfull = 'https://github.com/latex4ei/' | append: include.ghlink %}
    {% endif %}
    {% if include.filename contains 'http' %}
    {% assign filelink = include.filename %}
    {% else %}
    {% assign filelink = ghfull | append: '/raw/gh-pages/' | append: include.filename %}
    {% endif %}
    <span class="me-3">
        <a href="{{ ghfull }}" target="_blank"> <i class="fab fa-github"></i></a>
        <a href="{{ filelink }}" target="_blank">{{ include.description }}</a>
    </span>
</p>
