@import '../modules/variables';

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

//original selectors
//input[type='email'], input[type='number'], input[type='password'], input[type='tel'], input[type='text'], input[type='url'], textarea, select
%extend_2 {
  appearance: none;
  box-shadow: none;
  padding: 0.5rem 0.2rem;
  width: 100%;
}

input {
  font-family: inherit;
  font-size: inherit;
  &:focus {
    border: 0.2rem solid $tum_blue_light;
    outline: 0;
  }
}

select {
  font-family: inherit;
  font-size: inherit;
  @extend %extend_2;
  &:focus {
    border: 0.2rem solid $tum_blue_light;
    outline: 0;
  }
}

textarea {
  font-family: inherit;
  font-size: inherit;
  @extend %extend_2;
  &:focus {
    border: 0.2rem solid $tum_blue_light;
    outline: 0;
  }
}

main {
  padding-top: 80px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  clear: both;
}

section {
  background-color: $white;
  border: 1px solid $light_gray;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding: 0.5em;
}

h1 {
  font-family: $font_1;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-family: $font_1;
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.2em;
}

h3 {
  font-family: $font_1;
  font-size: 1.1em;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

table {
  @extend .table;
  @extend .table-sm;
  @extend .table-striped;
}

thead {
  @extend .bg-info;
}

pre {
  line-height: 1.5rem;
  margin: 0;
  padding: 8px 12px;
  overflow-x: auto;
  background-color: $grey-color-light;
  border-radius: 3px;
  > code {
    background: $white;
    border-radius: 0.4rem;
    display: block;
    padding: 0.5rem 1.0rem;
    white-space: pre;
  }
}

input[type='email'] {
  @extend %extend_2;
}

input[type='number'] {
  @extend %extend_2;
}

input[type='password'] {
  @extend %extend_2;
}

input[type='tel'] {
  @extend %extend_2;
}

input[type='text'] {
  @extend %extend_2;
}

input[type='url'] {
  @extend %extend_2;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  margin: 0 0.2rem;
}

tr:nth-child(even) {
  background-color: $white;
}
