@import "../modules/variables";

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Links
 */
a {
  text-decoration: none;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .25s;
  //Instead of the line below you could use @include transition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
  transition-property: all;
  //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
  transition-duration: 0.25s;
  //Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
  transition-timing-function: initial;
  cursor: pointer;
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    color: $tum_green;
  }
  &:active {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}

//@extend-elements
//original selectors
//td, th
%extend_1 {
  text-align: left;
  vertical-align: baseline;
  padding-left: 1em;
  padding-right: 1em;
}

//original selectors
//input[type='email'], input[type='number'], input[type='password'], input[type='tel'], input[type='text'], input[type='url'], textarea, select
%extend_2 {
  appearance: none;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
  padding: 0.5rem 0.2rem;
  width: 100%;
}

input {
  font-family: inherit;
  font-size: inherit;
  &:focus {
    border: 0.2rem solid $tum_blue_light;
    outline: 0;
  }
}

select {
  font-family: inherit;
  font-size: inherit;
  @extend %extend_2;
  &:focus {
    border: 0.2rem solid $tum_blue_light;
    outline: 0;
  }
}

textarea {
  font-family: inherit;
  font-size: inherit;
  @extend %extend_2;
  &:focus {
    border: 0.2rem solid $tum_blue_light;
    outline: 0;
  }
}

header {
  display: flex;
  align-items: center;
  background: $tum_blue;
  margin: 0;
  width: 100%;
  min-width: 20em;
  padding: 0;
}

main {
  padding-top: 80px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  clear: both;
}

section {
  background-color: $white;
  border: 1px solid $light_gray;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding: 0.5em;
}

h1 {
  font-family: $font_1;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-family: $font_1;
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.2em;
}

h3 {
  font-family: $font_1;
  font-size: 1.1em;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

table {
  border-collapse: collapse;
  margin: 1em 0;
  &.sourceCode > tbody {
    border: None;
    background: transparent;
  }
}

td {
  @extend %extend_1;
  img {
    display: inline-block;
    vertical-align: middle;
  }
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
  &.lineNumbers {
    border: None;
    background: transparent;
    > pre {
      border: None;
      background: transparent;
    }
  }
}

th {
  @extend %extend_1;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

thead {
  border-top: 1px solid $light_gray;
  background-color: $color_danube_approx;
}

tbody {
  border-top: 1px solid $light_gray;
  border-bottom: 1px solid $light_gray;
  background-color: $white;
}

figure {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

pre {
  border-left: 0.3rem solid $tum_green;
  font-family: $font_2, $font_3, $font_4, $font_5, $font_6, $font_7;
  line-height: 1.5rem;
  margin: 0;
  > code {
    background: transparent;
    background: $white;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0.4rem;
    display: block;
    padding: 0.5rem 1.0rem;
    white-space: pre;
  }
}

input[type='email'] {
  @extend %extend_2;
}

input[type='number'] {
  @extend %extend_2;
}

input[type='password'] {
  @extend %extend_2;
}

input[type='tel'] {
  @extend %extend_2;
}

input[type='text'] {
  @extend %extend_2;
}

input[type='url'] {
  @extend %extend_2;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  margin: 0 0.2rem;
}

tr:nth-child(even) {
  background-color: $white;
}