
//
// categories
//
.definition {
  // background-color: $bg_tum_orange;
}

.example {
  // background-color: $bg_tum_orange;
}

.explanation {
  // background-color: $bg_tum_orange;
}


.legend {
  // background-color: $bg_tum_blue_dark;
}


//
// interactive image
// this selection does not work
//

object[type="image/svg+xml"] svg{
  cursor: pointer;
}

//
// collapse title
//
.clp_title {
     cursor: pointer;
}
.clp_title.collapsed:before {
     content: '+';
}
.clp_title.collapsed:after {
     content: ' ...';
}

.clp_title:not(.collapsed):before {
     content: '–';
}




// 
// Math
//
.katex { font-size: 1.2em !important; }

.LaTeX {
  font-size: 0.87rem !important;
}




