//colors
@import "../modules/colors";

#search {
  height: 2em;
  margin-right: 5em;
  min-width: 15em;
  text-align: baseline;
  float: right;
}

.search-input {
  z-index: 10;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 1em;
  background-color: $white;
  border: 0.2em solid $tum_blue;
  width: 100%;
  display: block;
  height: 2em;
  vertical-align: baseline;
  padding-left: 0.5rem;
  margin: 0;
}

.ac-results-wrapper {
  position: absolute;
  width: 19.6rem;
  font-size: 80%;
  border: 1px solid $color_french_gray_approx;
  border-top-width: 0;
  background-color: $white;
  z-index: 11;
  a {
    display: none;
    height: 30px;
    color: $tum_blue_light;
    vertical-align: middle;
    line-height: 30px;
    padding-left: 5px;
    text-decoration: none;
    text-align: left;
    width: 100%;
    &:hover {
      background-color: $tum_blue_light;
      color: $white;
    }
    &:focus {
      background-color: $tum_blue_light;
      color: $white;
    }
  }
  i {
    float: right;
    padding-right: 5px;
    color: $color_french_gray_approx;
  }
}

* {
  //Instead of the line below you could use @include box-sizing($bs)
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
