.contact-list,
.social-media-list {
  list-style: none;
  margin: 15px 0;
}


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
