// TUM Colors
$tum_blue_light: #0065BD;
$tum_blue: #005293;
$tum_blue_dark: #003359;
$light_gray: #999;
$tum_green: #A2AD00;
$tum_orange: #e37222;

// Other
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;

$bg_tum_orange: lighten($tum_orange, 40%) !default;
$bg_tum_blue_dark:   lighten($tum_blue_dark, 40%) !default;
