// TUM Colors
$tum_blue_light: #0065BD;
$tum_blue: #005293;
$tum_blue_dark: #003359;
$light_gray: #999;
$gray: #808080;
$tum_green: #A2AD00;
$orange: #E37222;
$light_blue: #98C6EA;

// Social Icon Colors
$github_black: #181717;
$gitter_pink: #FF0064;
$facebook_blue: #3B5998;

// Other
$white: white;
$color_danube_approx: #64a0c8;
$color_olive_drab_approx: #679a1d;
$color_french_gray_approx: #babdc0;
$black_20: rgba(0, 0, 0, 0.2);
$color_woodsmoke_approx: #111;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;