
#search {
  height: 2em;
  padding-right: 1em;
  margin-left: auto;
  min-width: 12em;
  max-width: 30em;
  width: 100%;
  text-align: baseline;
}

.search-input {
  z-index: 10;
  border: 0.2em solid $tum_prim_blue;
  min-width: inherit;
  display: block;
  height: inherit;
  padding: 0 0.5rem;
  margin: 0;
  font-family: FontAwesome, Arial;
}

.ac-results-wrapper {
  position: absolute;
  display: block;
  min-width: inherit;
  font-size: 80%;
  border: 1px solid $tum_sec_gray_light;
  border-top-width: 0;
  background-color: white;
  z-index: 11;
  a {
    display: none;
    height: 30px;
    color: $tum_emph_lightblue;
    vertical-align: middle;
    line-height: 30px;
    padding-left: 5px;
    text-decoration: none;
    text-align: left;
    width: 100%;
    &:hover {
      background-color: $tum_emph_lightblue;
      color: white;
    }
    &:focus {
      background-color: $tum_emph_lightblue;
      color: white;
    }
  }
  i {
    float: right;
    padding-right: 5px;
    color: $tum_sec_gray_light;
  }
}

@media (min-width: 60rem) {
  nav form.form-inline {
    &:focus-within {
      flex-grow: 1;
    }
  }
}
