// Fonts
// =====================================
// $font-family-serif
// $font-family-sans-serif
// $font-family-mono


// set base font
// $font-family-base: $font-family-serif;

// own variables
$font_header: $font-family-sans-serif;
$font_paragraph: $font-family-sans-serif;



$spacing-unit:     30px !default;

// Width of the content area
// $content-width:    720px !default;

// $on-palm:          600px !default;
$on-laptop:        800px !default;