// Fonts
$font_header: Helvetica, sans-serif;
$font_paragraph: Georgia, serif;


$spacing-unit:     30px !default;

// Width of the content area
$content-width:    720px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;