---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@media only all and(min-width: 2000px) {
  html {
    font-size: 20px;
  }
}

@media all and(max-width: 2000px) and(min-width: 1300px) {
  html {
    font-size: 18px;
  }
}

@media all and(max-width: 480px) {
  html {
    font-size: 14px;
  }
}

// Import partials.
@import "bootstrap/custom";
@import 'bootstrap';
@import
  "partials/base",
  "partials/layout",
  "partials/syntax-highlighting",
  "partials/header",
  "partials/latex"
;
